In [8]:
import pandas as pd

In [10]:
df = pd.DataFrame({
    'col1': [1, 2],
    'col2': [3, 4]
})

df

   col1  col2
0     1     3
1     2     4

In [11]:
print(df)

   col1  col2
0     1     3
1     2     4

In [5]:
list_of_numbers = range(0,10,1)
list_of_numbers

range(0, 10)

In [ ]:
for number in list_of_numbers:
    print(number)