In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Load in file
final_exam_scores = "../Resources/final_exam_scores.csv"

In [8]:
df.head()

    Class    Name  Final Exam
0  Spring    Rami          56
1  Spring   Erika          71
2  Spring   Shawn          85
3  Spring   Nijah          67
4  Spring  Robert          68

In [7]:
df = pd.read_csv(final_exam_scores)
df.describe()

       Final Exam
count   30.000000
mean    74.800000
std     13.540234
min     56.000000
25%     64.000000
50%     73.000000
75%     84.750000
max     97.000000

In [4]:
# Create the bins in which Data will be held
# Bins are 0, 59, 69, 79, 89, 100.   
bins = [0, 59, 69, 79, 89, 100]

# Create the names for the four bins
group_names = ["F", "D", "C", "B", "A"]

In [5]:
df["Grade"] = pd.cut(df["Final Exam"], bins, labels=group_names)
df.head(10)

    Class    Name  Final Exam Grade
0  Spring    Rami          56     F
1  Spring   Erika          71     C
2  Spring   Shawn          85     B
3  Spring   Nijah          67     D
4  Spring  Robert          68     D
5  Spring    John          73     C
6  Spring  Safira          84     B
7  Spring      An          90     A
8  Spring  Steven          73     C
9  Spring   Tomas          84     B

In [6]:
# Get the summary statitics of each letter grade. 
df = df.groupby("Grade")
df
# df.describe()